.ipynb_checkpoints/
__pycache__/
data/
*.json
# Ignore the practice workspace folder
Learning/Week1_pandas_basics/Exercises/
Learning/Week1_pandas_basics/data/
Learning/Week2_spatial-engineering/data/