.ipynb_checkpoints/
__pycache__/
data/
*.json
# Ignore the practice workspace folders
Learning/Week1_PandasBasics/Exercises/
Learning/Week1_PandasBasics/data/
Learning/Week2_SpatialEngineering/data/
project-history.txt